.App{
  background-color: rgb(58, 58, 58);
}

.all-words {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}

.word {
  padding: 0.2em;
}

.letter {
  display: inline;
  color: gray;
}

.active-word {
  border-width: 0px;
  border-bottom: 0.5px;
  border-color: blue;
  border-style: solid;
}

.typed {
  color: rgb(0, 0, 0);
}

.correct-letter {
  color: rgb(108, 174, 0);
}

.incorrect-letter {
  color: red;
}

.letter-highlighter{
  margin: auto;
  width: 3px;
  height: 200px;
  background-color: aqua;
}
