.App {
  background-color: rgb(58, 58, 58);
}

.all-words {
  display: flex;
  flex-direction: column;
}

.line {
  font-size: large;
  display: flex;
  /* flex-wrap: wrap; */
  width: 60%;
  margin: auto;
}

.word {
  font-size: 2em;
  padding: 0.2em;
}

.letter {
  display: inline;
  color: gray;
}

.active-word {
  border-width: 0px;
  border-bottom: 0.5px;
  border-color: blue;
  border-style: solid;
}

.typed {
  color: rgb(0, 0, 0);
}

.correct-letter {
  color: rgb(108, 174, 0);
}

.incorrect-letter {
  color: rgb(238, 82, 82);
}

.letter-highlighter {
  position: absolute;
  /* margin: auto; */
  width: 2px;
  height: 3em;
  background-color: aqua;
  /* top: 10%; */
  /* left: 10%; */
  transition: 0.1s all;
  animation: blinker 1s linear infinite;
  border-radius: 2px;
}

@keyframes blinker {
  50% {
    opacity: 0.8;
  }
}

/* .typing-container {
  position: relative;
  inset: 10%;
} */
