.all-words {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}

.word {
  padding: 0.2em;
}

.letter {
  display: inline;
}

.active-word {
  border-width: 0px;
  border-bottom: 0.5px;
  border-color: blue;
  border-style: solid;
}

.typed {
  color: rgb(90, 90, 90);
}

.correct-letter {
  background-color: rgb(115, 187, 115);
}

.incorrect-letter {
  background-color: red;
}
